.btn {
    display: inline-block;
    padding: 13px 40px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.btn:hover {
    /* background-color: var(--secondary-color-dark); */
    /* box-shadow: 0 2px 4px #0005; */
    opacity: 1;
}