/* basic style */

.bg-blue {
    background-color: #03a9f4;
}

/* hero section */

.hero {
    text-align: center;
    padding-bottom: 30px;
}

.hero .logo {
    display: inline-block;
    height: 30px;
    margin-bottom: 40px;
}

.hero .title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
}

.hero .subtitle {
    display: inline-block;
    width: 100%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
    color: #555;
}

.hero .clock {
    margin-bottom: 60px;
}

.hero form {
    margin-bottom: 20px;
}

.hero .mouse {
}

/* main section */

.left-column {
    display: inline-block;
    float: left;
    width: 50%;
}
.right-column {
    display: inline-block;
    float: right;
    width: 40%;
}

main .block-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}
main .block-description {
    margin-bottom: 30px;
    font-size: 18px;
}
main .block-description > a {
    color: #ea1e63;
    text-decoration: none;
}
main .block-description > a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .left-column {
        width: 100%;
        margin-bottom: 60px;
    }
    .right-column {
        width: 100%;
    }
}

/* footer section */