.form {
    display: inline-block;
    width: 100%;
}
.form > input,
.form > textarea {
    display: inline-block;
    width: 100%;
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    resize: vertical;
    outline: none;
}
.form > textarea {
    min-height: 94px;
    max-height: 262px;
}